 
.grid-container{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content side"
    "footer footer footer"
    grid-template-columns:200px 1fr 200px;
    grid-template-row:auto 1fr auto;
    height: 100vh;
}
.header{
    background-color: brown;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-area: header;
}
.content{
    background-color: brown;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-area: content;
}
.side{
    background-color: brown;
    border: 1px solid black;
    padding: 20px; 
    font-size: 30px;
    text-align: center;
    grid-area: side;
}
.footer{
    background-color: brown;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-area: footer;
}