*{
    margin: 0;
    padding: 0;
}

#one{
    background-color: rgb(19, 132, 42);
}

p{
    font-size:20px;
}
#two{
    padding-left: 30px;
    color: azure;
    font-size: 45px;
    font-weight: 500; 
    float: right;
    margin-right: 200px;
    margin-top: -700px;
}
.text{
    margin-top: 250px;
}
