*{
    margin: 0;
    padding: 0;
    background-color:rgb(29, 212, 169);
  }
  #container {
      margin-left: 70px;
      margin-top: 30px;
      height: 100%;
  }
  
  #one {
    display: flex;
    justify-content: center;
  }
  
  #text1{
    flex: 2;
    font-size: 40px;
  }
  #text2{
    flex: 5;
    text-align: center;
  }
  #two {
    margin-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  p{
    font-size: 20px;
  }